/* Ajuste para que el contenido no quede tapado por la navbar fija */
body {
  padding-top: 70px; /* Ajusta según la altura de tu navbar */
}

/* Hero */
.hero img {
  height: 75vh;
  object-fit: cover;
}

.hero .overlay {
  background-color: rgba(0, 0, 0, 0.40); /* opacidad del overlay */
}

.hero-content h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.hero-content p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}


/* Botón Iniciar Sesión */

.btn-register {

    margin-left: 5px;
}


.navbar .btn-login:hover {
    background-color: hsla(214, 100%, 58%, 0.35);
    color: #fff;
    transform: scale(1.05);
}

/* Botón Registrarse */

.navbar .btn-register:hover {
    
  background-color: hsla(214, 100%, 58%, 0.35); 
  color: #fff;
  transform: scale(1.05); 
}
